# .do/deploy.template.yaml
spec:
  name: inngest-dev
  services:
    - name: inngest-server
      image:
        registry_type: DOCKER_HUB
        repository: inngest/inngest
        tag: latest
      http_port: 8288
      run_command: dev --url ${TARGET_URL}
      instance_size_slug: basic-xxs
      instance_count: 1
      routes:
        - path: /
      envs:
        - key: TARGET_URL
          scope: RUN_AND_BUILD_TIME
          # Leave empty, users will fill this in on deploy
          value: ""
